<!DOCTYPE html>
<html>
  <head>
    <title>URL Shortener</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/public/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="top-container">
      <div id="header">
        <h1>Shortify: URL Shortener</h1>
      </div>
      <div id="main-content">
        <form>
          <label for="url-input">URL</label>
          <input
            id="url-input"
            type="text"
            name="url"
            placeholder="https://www.google.com"
          />
          <input type="submit" />
        </form>
        <hr />
        <div id="output-display">
          <label for="short-link"><strong>Short Link:</strong></label>
          <p id="short-link">short link here</p>
        </div>
      </div>
      <div id="footer">
        <h3>
          By <a href="https://github.com/KDeclan" target="_blank">KDeclann</a>
        </h3>
      </div>
    </div>
  </body>
</html>
